
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <body>
            <h3>Select Item</h3>
            <table class="table">
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>UOM</th>
                <th>Extended</th>
                <th>Action</th>
                <tr>
                    <td>                           
                        @Html.DropDownList("inv_item_id", null, htmlAttributes: new { @class = "form-control", required = "required" })
                   </td>
                    <td>
                        <input autocomplete="off" class="form-control text-box single-line" id="qty" name="qty" value="" type="text" required="required">
                    </td>
                    <td>
                        <input autocomplete="off" class="form-control  text-box single-line" id="price" name="price" value="" type="text" required="required">
                    </td>
                    <td>
                        @Html.DropDownList("inv_uom_id", null, htmlAttributes: new { @class = "form-control", required = "required" })
                    </td>
                    <td>
                        <input autocomplete="off" class="form-control  text-box single-line" id="extended" name="extended" value="" type="text" required="required" >
                    </td>
                    <td>
                        <input type="button" id="add_item" name="add_item" value="+" class="btn btn-success" />
                    </td>
                    <td>
                        <input type="hidden" id="id" name="id" value="@ViewBag.id" />
                    </td>
                </tr>
            </table>
        </body>
}
</html>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    

    $("#add_item").click(function () {        
        var item = {
            id: $("#id").val(),
            inv_item_id: $("#inv_item_id").val(),
            inv_uom_id: $("#inv_uom_id").val(),
            qty: $("#qty").val(),
            price: $("#price").val(),
            extended: $("#extended").val()
        };

        $.ajax({
            type: "POST",
            url: '/MortgageInventory/Inventory',            
            data: item,
            datatype: "html",
            success: function (data, xhr) {
                alert("items has been added.");
                list_item();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });
</script>
