@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>Id</th>

    </tr>        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
        

   
</table>



