
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <th>Amount</th>
    <th>Comment</th>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.amount.ToString("#,##.00")
            </td>
            <td>
                @item.comment
            </td>
        </tr>
    }
    
</table>

